{% extends "email/base_notification.html" %}
{% load i18n %}

{% block body %}
    {% blocktrans %}
    
        Confirm your registration for {{ title }}.<br />
        Location: {{ location }}
        Date: {{ start_date }}<br />
        Click on the link below to conirm. <br />
        <a href="{{ link }}">{{ link }}</a>
    {% endblocktrans %}
{% endblock %}

