{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
    {% if user.is_authenticated %}
        <p class="errornote">
            {% blocktrans trimmed %}
                You are authenticated as {{ username }}, but are not authorized to
                access this page.
            {% endblocktrans %}
        </p>
    {% else %}
        <p>
            {% blocktrans trimmed %}
                Please click on the button to login.
            {% endblocktrans %}
        </p>
        <a href="{% url 'oidc_authentication_init' %}?next={{ next }}" class="button">{% trans 'Log in' %}</a>
    {% endif %}
</div>
{% endblock %}