{% load i18n %}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="article" style="padding:16px 0 3px 0">
            {% if entity.featured_image_url %}
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="{{ site_url }}{{ entity.featured_image_url }}" border="0" width="600" alt="{{ entity.title }}" /></td>
                    </tr>
                </table>
            {% endif %}
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="article-body2" style="padding:26px 66px 29px 50px; background:#ffffff">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>

                                <td class="h1" style="color:{{ primary_color }}; font-family:Arial,sans-serif; font-size:24px; line-height:28px; text-align:left; padding-bottom:4px; font-weight:bold">
                                    <a href="{{ site_url }}{{ entity.url }}" target="_blank" style="color:{{ primary_color }}; text-decoration:none">
                                        {{ entity.title }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="h2" style="color:#999999; font-family:Arial,sans-serif; font-size:12px; line-height:18px; text-align:left; padding-bottom:12px">
                                    {% blocktrans %}Blog created by{% endblocktrans %} {{ entity.owner_name }} {% blocktrans %}on{% endblocktrans %} {{ entity.created_at}}
                                    {% if entity.group %} in <strong><a href="{{ site_url }}{{ entity.group_url }}?utm_medium=email&utm_campaign=overview">{{ entity.group_name }}</a></strong>{% endif %}.
                                </td>
                            </tr>
                            <tr>
                                <td class="text" style="color:#000001; font-family:Arial,sans-serif; font-size:14px; line-height:20px; text-align:left">
                                    {{ entity.description|truncatewords:26 }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
